.bg-secondary, .footer{
    background: rgba(99, 110, 114, .4) !important;
}

.bg-secondary{
    border-bottom: 1px solid #000;
}
.footer{
    border-top: 1px solid #000;
}

html,body{
    background: #0a0a0c;
}

.pre-load{
    width: 100% !important;
    height: 100% !important;
    background: #0a0a0c !important;
}

.avatar{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
}

.avatar:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.bg-primary{
    background: rgba(0,0,0,0) !important;
}

#particles-js canvas{
    background: #0A0A0C;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.active{
    background: #0984e3 !important;
}

.template{
    font-size: 12px !important;
}

.centerorsomething{
    width: 400px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
}

.social{
    padding: 8px;
    padding-left: 13%;
    display: inline-block;
    text-align: center;
    color: #fff;
    margin-top: 5%;
}

.social a{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    text-decoration: none;
}

.social a:hover{
    color: #4086EB;
}

.close{
    color: #d63031 !important;
    border: 0 !important;
}

.modal-body{
    background: #0A0A0C !important;
    color: #fff;
    border: 0;
}


.portfolio{
    margin-top: 25%;
}

.portfolio-item{
    max-width: 350px !important;
    max-height: 200px !important;
}

::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #19191E;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #2C2C33;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #19191E;
}

#pluswrap {
    position: fixed;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    top: 0;
}
    
.plus {
    display: flex;
    margin: 0 auto;
}