html{
    background: #0c0c0c;
}
html,body{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
	width:100%;
	height:100%;
}

.noalign{
    text-align: left;
    margin: 5px;
}

h2{
    font-size: 32px;
    color: #fff;
    text-align: center;
}

.avatar{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.avatar:hover {
    border-radius: 45%;
}

.avatar2{
    border-radius: 50%;
}

.avatar2:hover {
    border-radius: 45%;
}

.centerorsomething{
    width: 400px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -200px;
    margin-top: -150px;
}

.social{
    padding: 8px;
    padding-left: 13%;
    display: inline-block;
    text-align: center;
    color: #fff;
    margin-top: 5%;
}

.social a{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    text-decoration: none;
}

.social a:hover{
    color: #4086EB;
}

.shittyinfo{
    z-index : 999;
}
.shittyinfo p{
    color: #fff;
}

#particles-js canvas{
    background: #0c0c0c;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#stupid_container{
    position: absolute; 
    transform: translate(-50%, -50%); 
    left: 50%; 
    top: 50%;
    margin-top: 1%;
    background: rgba(26, 26, 26, .5);
    color: #fff;
    width: 95%;
    height: 95%;
    padding: 5px;
}

#workDiv{
    position: absolute !important;
    display: inline-block;
    background: rgba(26, 26, 26, .5);
    width: 30%;
    height: 15%;
    margin-left: 2%;
    margin-top: 1%;
}

#thing_img{
    background-image: url(https://i.imgur.com/x7Zsn6B.jpg) no-repeat center center;
    background-size: cover;
    position: absolute;
    margin: 0 !important;
    color: #fff;
    width: 25% !important;
    height: 100% !important;
    border-right: 1px solid #000;
}

.thing_title{
    color: #fff;
    font-size: 20px;
    text-align: center;
}

#box_nou{
    position: absolute;
    width: 75% !important;
    height: 100% !important;
    margin: 0 !important;
    background: rgba(0, 0, 0, 0);
    margin-left: 25% !important;
}

.thing_desc{
    color: #fff;
    word-wrap: break-word;
    padding: 2px;
}

  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }